<div class="register-container">
  <h2>Rejestracja</h2>
  <form (ngSubmit)="onRegisterSubmit()">
    <div class="input-group">
      <label for="firstName">Imię</label>
      <input 
        type="text" 
        id="firstName" 
        name="firstName" 
        [(ngModel)]="firstName" 
        required 
        placeholder="Wpisz swoje imię">
    </div>
    <div class="input-group">
      <label for="lastName">Nazwisko</label>
      <input 
        type="text" 
        id="lastName" 
        name="lastName" 
        [(ngModel)]="lastName" 
        required 
        placeholder="Wpisz swoje nazwisko">
    </div>
    <div class="input-group">
      <label for="registerEmail">Email</label>
      <input 
        type="email" 
        id="registerEmail" 
        name="email" 
        [(ngModel)]="email" 
        required 
        placeholder="Wpisz swój email">
    </div>
    <div class="input-group">
      <label for="registerPassword">Hasło</label>
      <input 
        type="password" 
        id="registerPassword" 
        name="password" 
        [(ngModel)]="password" 
        required 
        placeholder="Wpisz swoje hasło">
    </div>
    <div class="input-group">
      <label for="confirmPassword">Powtórz Hasło</label>
      <input 
        type="password" 
        id="confirmPassword" 
        name="confirmPassword" 
        [(ngModel)]="confirmPassword" 
        required 
        placeholder="Powtórz swoje hasło">
    </div>
    <div class="input-group">
      <input type="submit" value="Zarejestruj się">
    </div>
    <div class="error-message">
      @if(errorMessage)
      {
        {{ errorMessage }}
      }
    </div>
  </form>
  <div>
    <button (click)="goToLogin()">Masz już konto? Zaloguj się</button>
  </div>
</div>
