.manage-books-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.slide-toggle-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.slide-toggle-label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  cursor: pointer;
}

.slide-toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4CAF50;
  border-radius: 34px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #ccc;
  border-radius: 50%;
  transition: 0.4s;
}

.slide-toggle-input:checked + .slider {
  background-color: #2196F3;
}

.slide-toggle-input:checked + .slider:before {
  transform: translateX(26px);
}

.book-form, .search-form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 1.2rem;
  margin-bottom: 5px;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ddd;
}

button {
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.book-list {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

table th {
  background-color: #4CAF50;
  color: white;
}

table td button {
  margin-left: 10px;
}

h3 {
  color: #000;
}

.availability-checkbox label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.availability-checkbox input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.edit-form-actions button {
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-form-actions button.save-btn {
  background-color: #4CAF50;
}

.edit-form-actions button.save-btn:hover {
  background-color: #45a049;
}

.edit-form-actions button.cancel-btn {
  background-color: #FF6347;
}

.edit-form-actions button.cancel-btn:hover {
  background-color: #d94f30;
}

table td button.edit-btn {
  background-color: #1E90FF;
  color: white;
}

table td button.edit-btn:hover {
  background-color: #45a049;
}

table td button.delete-btn {
  background-color: #FF6347;
  color: white;
}

table td button.delete-btn:hover {
  background-color: #d94f30;
}