<div class="user-site-container">
  <div class="sidebar">
    <button (click)="showLoanBook(true)">Zobacz Historię Wypożyczeń</button>
    <button (click)="showReserveBook()">Zarezerwuj Książkę</button>
    <button (click)="showProfile()">Wyświetl Swój Profil</button>
    <button (click)="showOverdueBooks()">Wyświetl niezwrócone książki po terminie</button>
  </div>

  <div class="main-content">

    <div *ngIf="isLoanBookVisible">
      <app-loan-book [loans]="loans" [currentUserId]="currentUser?._id ?? null"></app-loan-book>
    </div>

    <app-reserve-book *ngIf="isReserveBookVisible" [currentUser]="currentUser"></app-reserve-book>

    <app-user-profile *ngIf="isProfileVisible" [user]="currentUser"></app-user-profile>

  </div>
</div>
