<div class="loan-history">
  <h3>Twoje Wypożyczenia</h3>
  <table>
    <thead>
      <tr>
        <th>Nazwa Książki</th>
        <th>Data Wypożyczenia</th>
        <th>Data Zwrotu</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let loan of filteredLoans">
        <td>{{ getBookTitle(loan.bookId) }}</td>
        <td>{{ loan.loanDate | date: 'yyyy-MM-dd' }}</td>
        <td>{{ loan.returnDate | date: 'yyyy-MM-dd' }}</td>
        <td>{{ loan.isReturned ? 'Zwrócona' : 'Niezwrócona' }}</td>
      </tr>
    </tbody>
  </table>
</div>
