<div class="container">
  <ng-container>
    @if(!isRegistering)
    {
      <h2>Login</h2>
      <form (ngSubmit)="onLoginSubmit()">
        <div class="input-group">
          <label for="email">Email</label>
          <input type="email" id="email" [(ngModel)]="email" name="email" required placeholder="Wpisz swój email" />
        </div>
        <div class="input-group">
          <label for="password">Hasło</label>
          <input type="password" id="password" [(ngModel)]="password" name="password" required placeholder="Wpisz swoje hasło" />
        </div>
        <button type="submit">Zaloguj się</button>
      </form>

      <div class="error-messages">
        @if(errorMessages.length > 0)
        {
          <div>
            @for(error of errorMessages; track error)
            {
              {{ error }}
            }
          </div>
        }
      </div>
    <button (click)="switchToRegisterView()">Nie masz konta? Zarejestruj się</button>
    }
    
  </ng-container>

  <ng-container>
    @if(isRegistering)
    {
      <h2>Rejestracja</h2>
      <form (ngSubmit)="onRegisterSubmit()">
        <div class="input-group">
          <label for="firstName">Imię</label>
          <input type="text" id="firstName" [(ngModel)]="firstName" name="firstName" required placeholder="Wpisz swoje imię" />
        </div>
        <div class="input-group">
          <label for="lastName">Nazwisko</label>
          <input type="text" id="lastName" [(ngModel)]="lastName" name="lastName" required placeholder="Wpisz swoje nazwisko" />
        </div>
        <div class="input-group">
          <label for="email">Email</label>
          <input type="email" id="email" [(ngModel)]="email" name="email" required placeholder="Wpisz swój email" />
        </div>
        <div class="input-group">
          <label for="password">Hasło</label>
          <input type="password" id="password" [(ngModel)]="password" name="password" required placeholder="Wpisz swoje hasło" />
        </div>
        <div class="input-group">
          <label for="confirmPassword">Powtórz hasło</label>
          <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required placeholder="Powtórz swoje hasło" />
        </div>
        <button type="submit">Zarejestruj się</button>
      </form>

      <div class="error-messages">
        @if(errorMessages.length > 0)
        {
          <div>
            @for(error of errorMessages; track error)
            {
              {{ error }}
            }
          </div>
        }
      </div>
      <button (click)="switchToLoginView()">Masz już konto? Zaloguj się</button>
    }
  </ng-container>
</div>
