:host {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
  font-size: 16px;
}

.input-group input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  text-align: center;
}

button:hover {
  background-color: #45a049;
}

button[type="button"] {
  background-color: transparent;
  color: #4caf50;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 12px;
  display: block;
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

button[type="button"]:hover {
  text-decoration: underline;
}

.error-messages {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.error-messages div {
  margin-bottom: 5px;
}

.switch-form-link {
  background-color: transparent;
  color: #4caf50;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
  display: inline;
  text-align: center;
  text-decoration: underline;
  margin-top: 10px;
}

.switch-form-link:hover {
  text-decoration: underline;
}
