<div class="admin-site-container">
  <!-- Panel boczny -->
  <div class="sidebar">
    <button (click)="SeeList()">Przeglądaj listę wypożyczeń i rezerwacji</button>
    <button (click)="manageBook()">Zarządzaj książkami</button>
    <button (click)="manageUser()">Zarządzaj użytkownikami</button>
    <button (click)="raport()">Raportuj</button>
  </div>

  <!-- Główny kontener dla dynamicznych treści -->
  <div class="main-content">
    <app-show-loans *ngIf="isLoanListVisible"></app-show-loans>
  </div>
</div>
