<div class="admin-site-container">
  <!-- Panel boczny -->
  <div class="sidebar">
    <button (click)="SeeList()">Przeglądaj listę wypożyczeń i rezerwacji</button>
    <button (click)="manageBook()">Zarządzaj książkami</button>
    <button (click)="manageUser()">Zarządzaj użytkownikami</button>
    <button (click)="raport()">Raportuj</button>
  </div>

  <!-- Główny kontener dla dynamicznych treści -->
  <div class="main-content">
    <app-show-loans *ngIf="isLoanListVisible"></app-show-loans>
    <app-manage-books *ngIf="isManageBooksVisible"></app-manage-books>
    <app-manage-users *ngIf="isManageUsersVisible"></app-manage-users>

    <!-- Sekcja raportu -->
    <div *ngIf="isReportVisible">
      <h3>Ranking Najczęściej Wypożyczanych Książek</h3>
      <div class="search-form">
        <input [(ngModel)]="searchQuery" (ngModelChange)="onSearchChange()" placeholder="Wyszukaj po tytule lub autorze" />
      </div>
      <table>
        <thead>
          <tr>
            <th>Pozycja</th>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Ilość wypożyczeń</th>
            <th>Procent wypożyczeń</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stat of filteredLoanStatistics">
            <td>{{ stat.rank }}</td> <!-- Numer rankingu -->
            <td>{{ stat.title }}</td>
            <td>{{ stat.author }}</td>
            <td>{{ stat.totalLoans }}</td>
            <td>{{ stat.percentage | number:'1.2-2' }}%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
