<div class="admin-site-container">
  <div class="sidebar">
    <button (click)="SeeList()">Przeglądaj listę wypożyczeń i rezerwacji</button>
    <button (click)="manageBook()">Zarządzaj książkami</button>
    <button (click)="manageUser()">Zarządzaj użytkownikami</button>
    <button (click)="raport()">Raportuj</button>
  </div>

  <div class="main-content">
    @if(isLoanListVisible)
    {
      <app-show-loans></app-show-loans>
    }
    @if(isManageBooksVisible)
    {
      <app-manage-books></app-manage-books>
    }
    @if(isManageUsersVisible)
    {
      <app-manage-users></app-manage-users>
    }
    <div>
      @if(isReportVisible)
      {
        <h3>Ranking Najczęściej Wypożyczanych Książek</h3>
      <div class="search-form">
        <input [(ngModel)]="searchQuery" (ngModelChange)="onSearchChange()" placeholder="Wyszukaj po tytule lub autorze" />
      </div>

      <div>
        <label for="minLoans">Minimalna liczba wypożyczeń:</label>
        <input [(ngModel)]="minLoans" (input)="onSearchChange()" type="number" id="minLoans" />
      </div>

      <table>
        <thead>
          <tr>
            <th>Pozycja</th>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Ilość wypożyczeń</th>
          </tr>
        </thead>
        <tbody>
            @for(stat of filteredLoanStatistics; track stat)
            {
              <tr>
                <td>{{ i + 1 }}</td>
                <td>{{ stat.title }}</td>
                <td>{{ stat.author }}</td>
                <td>{{ stat.totalLoans }}</td>
              </tr>
            }
        </tbody>
      </table>
      }
    </div>
  </div>
</div>