<div class="reserved-books-container">
  <h2>Moje rezerwacje</h2>
  <table>
    <thead>
      <tr>
        <th>Tytuł</th>
        <th>Autor</th>
        <th>Gatunek</th>
        <th>Rok wydania</th>
        <th>Data rezerwacji</th>
        <th>Akcje</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations">
        <td>{{ getBookById(reservation.bookId)?.title }}</td>
        <td>{{ getBookById(reservation.bookId)?.author }}</td>
        <td>{{ getBookById(reservation.bookId)?.genre }}</td>
        <td>{{ getBookById(reservation.bookId)?.publicationYear }}</td>
        <td>{{ reservation.reservationDate | date }}</td>
        <td>
          <button (click)="cancelReservation(reservation.reservationId)">Anuluj rezerwację</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="reserve-books-container">
  <h2>Rezerwuj książki</h2>

  <div class="search-container">
    <input type="text" [(ngModel)]="searchQuery" id="searchQuery" placeholder="Wyszukaj" />
  </div>
  
  <table>
    <thead>
      <tr>
        <th (click)="sortBooks('title')">Tytuł</th>
        <th (click)="sortBooks('author')">Autor</th>
        <th (click)="sortBooks('genre')">Gatunek</th>
        <th (click)="sortBooks('publicationYear')">Rok wydania</th>
        <th>Akcja</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of getFilteredBooks()">
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.genre }}</td>
        <td>{{ book.publicationYear }}</td>
        <td>
          <button 
            [disabled]="isBookReserved(book.bookId) || loanService.isBookLoaned(book.bookId) || !canReserveBook(book.bookId)" 
            (click)="reserveBook(book.bookId)">
            Zarezerwuj
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>